/.vs/CopilotSnapshots
/.vs/FoodApp/CopilotIndices
/.vs/FoodApp/FileContentIndex
/.vs/FoodApp/v17
/.vs/ProjectEvaluation
/.vs/FoodApp/DesignTimeBuild
/FoodApp/bin
/FoodApp/obj
/.vs/FoodApp/config
/bin
/obj
launchSettings.json
FoodApp/appsettings.json
