/****** Object:  Table [dbo].[email_template]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email_template](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[subject] [nvarchar](255) NOT NULL,
	[template] [nvarchar](max) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[foodTypeid] [uniqueidentifier] NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__food__3213E83F66B28D85] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food_type]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_type](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__food_typ__3213E83F40EAD342] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingredients]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingredients](
	[id] [uniqueidentifier] NOT NULL,
	[foodid] [uniqueidentifier] NOT NULL,
	[unitid] [uniqueidentifier] NOT NULL,
	[unitAmount] [decimal](10, 3) NOT NULL,
	[recipeid] [uniqueidentifier] NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__ingredie__3213E83F0418F8A3] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meal]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meal](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](50) NULL,
	[order] [int] NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipe]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[time] [int] NOT NULL,
	[portion] [int] NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__recipe__3213E83FC2E7861D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipe_meal]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe_meal](
	[id] [uniqueidentifier] NOT NULL,
	[recipeid] [uniqueidentifier] NOT NULL,
	[mealid] [uniqueidentifier] NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recipe_tags]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recipe_tags](
	[recipeid] [uniqueidentifier] NOT NULL,
	[tagid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_recipe_tags] PRIMARY KEY CLUSTERED 
(
	[recipeid] ASC,
	[tagid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refresh_token]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refresh_token](
	[id] [uniqueidentifier] NOT NULL,
	[token] [nvarchar](500) NOT NULL,
	[expirationDate] [datetime2](7) NOT NULL,
	[used] [bit] NOT NULL,
	[userid] [uniqueidentifier] NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[steps]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[steps](
	[id] [uniqueidentifier] NOT NULL,
	[recipeid] [uniqueidentifier] NOT NULL,
	[instruction] [text] NOT NULL,
	[stepNumber] [int] NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__steps__3213E83F87602565] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[units]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[units](
	[id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[volumeEquivalent] [decimal](10, 4) NOT NULL,
	[desc] [varchar](50) NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_meals]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_meals](
	[id] [uniqueidentifier] NOT NULL,
	[userid] [uniqueidentifier] NOT NULL,
	[recipeid] [uniqueidentifier] NOT NULL,
	[mealid] [uniqueidentifier] NOT NULL,
	[mealDate] [date] NOT NULL,
	[portions] [smallint] NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__user_mea__3213E83F01D0E692] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[role_id] [uniqueidentifier] NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_token]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_token](
	[id] [uniqueidentifier] NOT NULL,
	[token] [nvarchar](500) NOT NULL,
	[expirationDate] [datetime2](7) NOT NULL,
	[used] [bit] NOT NULL,
	[userid] [uniqueidentifier] NULL,
	[updated_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__user_tok__3213E83F9CCC2143] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 28.09.2026 00:32:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](50) NOT NULL,
	[password] [varchar](256) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[lastLogin] [datetime] NULL,
	[userStatus] [varchar](25) NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[email_template] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[email_template] ADD  CONSTRAINT [DF_updated_at_email_template]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[food] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[food] ADD  CONSTRAINT [DF_updated_at_food]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[food_type] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[food_type] ADD  CONSTRAINT [DF_updated_at_food_type]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[ingredients] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[ingredients] ADD  CONSTRAINT [DF_updated_at_ingredients]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[meal] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[meal] ADD  CONSTRAINT [DF_updated_at_meal]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[recipe] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[recipe] ADD  CONSTRAINT [DF_updated_at_recipe]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[recipe_meal] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[recipe_meal] ADD  CONSTRAINT [DF_updated_at_recipe_meal]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[refresh_token] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[refresh_token] ADD  DEFAULT ((0)) FOR [used]
GO
ALTER TABLE [dbo].[refresh_token] ADD  CONSTRAINT [DF_updated_at_refresh_token]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[role] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[role] ADD  CONSTRAINT [DF_updated_at_role]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[steps] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[steps] ADD  CONSTRAINT [DF_updated_at_steps]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[tags] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[tags] ADD  CONSTRAINT [DF_updated_at_tags]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[units] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[units] ADD  CONSTRAINT [DF_updated_at_units]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user_meals] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[user_meals] ADD  CONSTRAINT [DF_updated_at_user_meals]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user_roles] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[user_roles] ADD  CONSTRAINT [DF_updated_at_user_roles]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[user_token] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[user_token] ADD  CONSTRAINT [DF_updated_at_user_token]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_userStatus]  DEFAULT ('inactive') FOR [userStatus]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_updated_at_users]  DEFAULT (getutcdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[food]  WITH CHECK ADD  CONSTRAINT [FK_food_food_types] FOREIGN KEY([foodTypeid])
REFERENCES [dbo].[food_type] ([id])
GO
ALTER TABLE [dbo].[food] CHECK CONSTRAINT [FK_food_food_types]
GO
ALTER TABLE [dbo].[ingredients]  WITH CHECK ADD  CONSTRAINT [FK_ingredients_food] FOREIGN KEY([foodid])
REFERENCES [dbo].[food] ([id])
GO
ALTER TABLE [dbo].[ingredients] CHECK CONSTRAINT [FK_ingredients_food]
GO
ALTER TABLE [dbo].[ingredients]  WITH CHECK ADD  CONSTRAINT [FK_ingredients_recipe] FOREIGN KEY([recipeid])
REFERENCES [dbo].[recipe] ([id])
GO
ALTER TABLE [dbo].[ingredients] CHECK CONSTRAINT [FK_ingredients_recipe]
GO
ALTER TABLE [dbo].[ingredients]  WITH CHECK ADD  CONSTRAINT [FK_ingredients_unit] FOREIGN KEY([unitid])
REFERENCES [dbo].[units] ([id])
GO
ALTER TABLE [dbo].[ingredients] CHECK CONSTRAINT [FK_ingredients_unit]
GO
ALTER TABLE [dbo].[recipe_meal]  WITH CHECK ADD  CONSTRAINT [FK_meal_recipe_meal] FOREIGN KEY([mealid])
REFERENCES [dbo].[meal] ([id])
GO
ALTER TABLE [dbo].[recipe_meal] CHECK CONSTRAINT [FK_meal_recipe_meal]
GO
ALTER TABLE [dbo].[recipe_meal]  WITH CHECK ADD  CONSTRAINT [FK_recipe_recipe_meal] FOREIGN KEY([recipeid])
REFERENCES [dbo].[recipe] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[recipe_meal] CHECK CONSTRAINT [FK_recipe_recipe_meal]
GO
ALTER TABLE [dbo].[recipe_tags]  WITH CHECK ADD  CONSTRAINT [FK_recipe_tags_recipe] FOREIGN KEY([recipeid])
REFERENCES [dbo].[recipe] ([id])
GO
ALTER TABLE [dbo].[recipe_tags] CHECK CONSTRAINT [FK_recipe_tags_recipe]
GO
ALTER TABLE [dbo].[recipe_tags]  WITH CHECK ADD  CONSTRAINT [FK_recipe_tags_tag] FOREIGN KEY([tagid])
REFERENCES [dbo].[tags] ([id])
GO
ALTER TABLE [dbo].[recipe_tags] CHECK CONSTRAINT [FK_recipe_tags_tag]
GO
ALTER TABLE [dbo].[refresh_token]  WITH CHECK ADD  CONSTRAINT [FK_refresh_token_users] FOREIGN KEY([userid])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[refresh_token] CHECK CONSTRAINT [FK_refresh_token_users]
GO
ALTER TABLE [dbo].[steps]  WITH CHECK ADD  CONSTRAINT [FK_steps_recipe] FOREIGN KEY([recipeid])
REFERENCES [dbo].[recipe] ([id])
GO
ALTER TABLE [dbo].[steps] CHECK CONSTRAINT [FK_steps_recipe]
GO
ALTER TABLE [dbo].[user_meals]  WITH CHECK ADD  CONSTRAINT [FK_meal_user_meals] FOREIGN KEY([mealid])
REFERENCES [dbo].[meal] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_meals] CHECK CONSTRAINT [FK_meal_user_meals]
GO
ALTER TABLE [dbo].[user_meals]  WITH CHECK ADD  CONSTRAINT [FK_recipe_user_meals] FOREIGN KEY([recipeid])
REFERENCES [dbo].[recipe] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_meals] CHECK CONSTRAINT [FK_recipe_user_meals]
GO
ALTER TABLE [dbo].[user_meals]  WITH CHECK ADD  CONSTRAINT [FK_user_user_meals] FOREIGN KEY([userid])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_meals] CHECK CONSTRAINT [FK_user_user_meals]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_role_user_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[role] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_role_user_role]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_user_role] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_user_role]
GO
ALTER TABLE [dbo].[user_token]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users] FOREIGN KEY([userid])
REFERENCES [dbo].[users] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[user_token] CHECK CONSTRAINT [FK_UserTokens_Users]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_userStatus] CHECK  (([userStatus]='timeout' OR [userStatus]='inactive' OR [userStatus]='active'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_userStatus]
GO
